/* ts ui wrapper */
.ts.items {
    padding:3px;
}
.pointing.speech {
    height:0px;
    visibility:hidden;
}
/* end */

/* reicss for profile */
.reicss.read.cover {
    height:25%;
    background-position: 50% 25%;
}

.reicss.read.content {
    min-height:45%;
}
/* end */


.border {
    border-left : 1px solid #e9e9e9;
}

.slate {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    padding: 57% 0px 0px 0px!important;

}

.new.slate {
    padding: 15% 0px 0px 0px!important;
}

.slate .header {
    padding: 1rem 1rem 0rem 1rem;
    background-color:rgba(0,0,0,0.3);
}

.slate .description {
    padding: 0rem 1rem 0.7rem 1rem;
    margin:0px!important;
    opacity:1!important;
    background-color:rgba(0,0,0,0.3);
}
